import /kisd.rc

on init
    export LD_LIBRARY_PATH /sbin:/vendor/lib64:/vendor/lib64/hw

on fs
    mkdir /dev/block/platform/mtk-msdc.0
    symlink ../soc/11230000.mmc /dev/block/platform/mtk-msdc.0/11230000.MSDC0

    # A/B feature for boot0 region
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/mtk-msdc.0/11230000.MSDC0/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/mtk-msdc.0/11230000.MSDC0/preloader_b

    # ADB
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 2A47
    write /sys/class/android_usb/android0/idProduct 201D
    write /sys/class/android_usb/android0/f_ffs/aliases adb
    write /sys/class/android_usb/android0/functions mtp,adb
    write /sys/class/android_usb/android0/iManufacturer ${ro.product.manufacturer}
    write /sys/class/android_usb/android0/iProduct ${ro.product.model}
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}

on property:sys.storage.ums_enabled=1
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/functions mass_storage,adb
    write /sys/class/android_usb/android0/enable 1

on property:sys.storage.ums_enabled=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable ${service.adb.root}

on property:sys.usb.config=none
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/bDeviceClass 0

on property:sys.usb.config=mtp,adb
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/functions mtp,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd

on property:sys.usb.config=adb
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/functions adb
    write /sys/class/android_usb/android0/enable ${service.adb.root}
    start adbd

on post-fs

service hwservicemanager /sbin/hwservicemanager
    user root
    group root
    disabled
    onrestart setprop hwservicemanager.ready false
    seclabel u:r:recovery:s0

service servicemanager /sbin/servicemanager
    user root
    group root readproc
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /sbin/android.hardware.gatekeeper@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keymaster-3-0 /sbin/android.hardware.keymaster@3.0-service
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

on property:hwservicemanager.ready=true
    start kisd
    start keymaster-3-0
    start gatekeeper-1-0
    start servicemanager
    start hwservicemanager

on property:ro.crypto.state=unsupported
    stop kisd
    stop keymaster-3-0
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager

on property:ro.crypto.state=unencrypted
    stop kisd
    stop keymaster-3-0
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager

on property:twrp.decrypt.done=true
    stop kisd
    stop keymaster-3-0
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager
